<?xml version="1.0" encoding="utf-8"?>

<widget id        = "com.TOApps.TLOZI"
        version   = "1.0.0">

    <name>The Legend of Zelda: Info</name>

    <description>
        This app will provide you all the background knowledge and information on all the Legend of Zelda games as well as overall information about the games themselves!
    </description>

    <author>
        Timothy Otto
    </author>


    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <plugin name="cordova-plugin-device-orientation" />
	
	<icon src="Images/favicon.ico" />
	<gap:splash src="Images/Background.jpg" />

</widget>
